/* your custom css */

a {
	color:#002356;
}

article a {
	color: #004cbb;
}

.post a {
	color: #004cbb;
}

.copyright a {
	color:white;
}

.homeContainer .homeWrapper .projectLogo {
	justify-content: center;
	padding: 0px;
	position: relative;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
	.navigationSlider .slidingNav ul {
		background: #00f;
	}
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}